<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                Dashboard
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>Menu</span></li>
        <li class="sidebar-list">
            <a ui-sref="dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
            <a ui-sref="test">Test <span class="menu-icon fa fa-table"></span></a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a target="_blank" href="https://github.com/balzac2806/intermap">
                Github InterMap
            </a>
        </div>
        <div class="col-xs-4">
            <a target="_blank" href="#">
                About
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                Support
            </a>
        </div>
    </div>
</div>